body {
	font-family: Times New Roman;
	background: #ccc;
	width: 95%;
	margin: 10px auto;
}
/*
eliminar las viñetas 
eliminar subrayado de los enlaces */
header {
	background-color: #000000;
	color: #fff;
	padding: 30px;
}
header ul {
	list-style: none;
	}
header ul li a {
	color: #fff;
	text-decoration: none;
	padding: 30px;
}	
header ul li a:hover {
	background-color: #01FFFF;
}
main {
     background-color: #fff;
     padding: 40px; 
	}
	footer {
		background-color: #000000;
		color: #fff;
		padding: 10px;
	}